.navbar {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  transition: background-color 0.3s;
  align-items: center;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
}

.navbar i {
  font-size: 20px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}

.navbar li:hover {
  background-color: #eaeaea;
}

.hero-section {
  background-color: white;
  padding: 50px;
  text-align: center;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
}

.hero-section img {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-section .text-container {
  text-align: center;
  padding: 10px 20px;
  justify-content: center;
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-align: center;
  border-radius: 50px;
  margin: 10px;
}

.hero-section h2 {
  color: pink;
  font-size: 48px;
  font-weight: bold;
  border-radius: 3px;
}

.hero-section .learn-text {
  color: pink;
  font-size: 24px;
  border-radius: 3px;
}

.hero-section .lorem-text {
  color: black;
  font-size: 16px;
  margin-top: 10px;
}

#order {
  margin: 30px;
  padding: 50px;
  background-image: linear-gradient(45deg, pink, yellow, green);
  align-items: center;
  justify-content: center;
}
.order1 {
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}
.order-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.order-item {
  text-align: center;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
}

.order-item img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  transition: transform 0.3s;
  align-items: center;
  justify-content: center;
}

.order-item:hover img {
  transform: scale(1.1);
  align-items: center;
  justify-content: center;
}

.order-item h3 {
  margin: 10px 0;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.order-button {
  background-color: pink;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.order-button:hover {
  background-color: green;
  align-items: center;
  justify-content: center;
}
